@model IEnumerable<YourSquare1.Models.Advertisment>

@{
    ViewData["Title"] = "AcceptAdvertisments";
}

<h2>Akceptacja ogłoszeń</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Opis
            </th>
            <th>
                Dodatkowe wyposażenie
            </th>
            <th>
                Cena
            </th>
            <th>
                Adres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var shortDescription = item.Description;
            var shortAdditionalDesc = item.AdditionalEquipmentDescription;

            if (item.Description.Length > 50)
            {
                shortDescription = item.Description.Substring(0, 50);
            }

            if (item.AdditionalEquipmentDescription.Length > 50)
            {
                shortAdditionalDesc = item.AdditionalEquipmentDescription.Substring(0, 50);
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => shortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => shortAdditionalDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID"><button type="submit" class="btn btn-default small">Szczegóły</button></a>
                    <form asp-action="AcceptAdvertisments" style="display:inline;">
                        <input type="hidden" name="advertismentId" value="@item.ID" />
                        <input type="hidden" name="result" value="accept" />
                        <button type="submit" class="btn btn-success small">Zaakceptuj</button>
                    </form>

                    <form asp-action="AcceptAdvertisments" style="display:inline;">
                        <input type="hidden" name="advertismentId" value="@item.ID" />
                        <input type="hidden" name="result" value="decline" />
                        <button type="submit" class="btn btn-danger small">Odrzuć</button>
                    </form>
                    <a asp-action="AcceptAdvertismentEdit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil icons"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-trash icons"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
