@model IEnumerable<YourSquare1.Models.Advertisment>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "UserAdvertisments";
    var user = await UserManager.GetUserAsync(User);
    var administrator = false;
    if (user != null)
    {
        if (user.Administrator)
        {
            administrator = true;
        }
    }
}

<h2>Twoje ogłoszenia</h2>

<p>
    <a asp-action="Create"><button class="btn btn-success">Dodaj nowe ogłoszenie</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Główna
            </th>
            <th>
                Opis
            </th>
            <th>
                Dodatkowe wyposażenie
            </th>
            <th>
                Cena
            </th>
            <th>
                Adres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var shortDescription = item.Description;
            var shortAdditionalDesc = item.AdditionalEquipmentDescription;

            if (item.Description.Length > 50)
            {
                shortDescription = item.Description.Substring(0, 50);
            }

            if (item.AdditionalEquipmentDescription.Length > 50)
            {
                shortAdditionalDesc = item.AdditionalEquipmentDescription.Substring(0, 50);
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => shortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => shortAdditionalDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="UserAdvertismentsDetails" asp-route-id="@item.ID"><button class="btn btn-default small">Szczegóły</button></a>
                    @if (!item.Accepted && !item.DecisionMade || administrator)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID"><button class="btn btn-warning small">Edytuj</button></a>
                    }
                    <a asp-action="Delete" asp-route-id="@item.ID"><button class="btn btn-danger small">Usuń</button></a>
                 </td>
            </tr>
        }
    </tbody>
</table>
